@media (max-with: 1700px) {

}
@media(max-width: 1352px) {
    .blog-box-large img {
        width: 100%;
    }
    .column-1 {
        width: 100%;
        height: auto;
    }
    .column-2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .blog-box:nth-child(1) {
        margin-top: 40px;
    }
    .blog-box {
        width: 31%
    }
    .blog-box img {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .footer-s-1 {
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer-form-box {
        margin-top: 50px;
    }
    .icon-list {
        margin-top: 100px;
    }
    
    .container-w {
        width: 100%;
    }
    .box-1 {
        width: 100%;
    }
    .box-2 {
        width: 100%;
    }
    .story-2-container {
        width: 100%;
        display: flex;
    }
}
@media (max-width: 1250px) {
    .right-block-content {
        margin: 0;
    }
    .left-block {
        width: 100%;
    }
    .section-1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .right-block {
        width: 100%;
        height: 343px;
    }
    .right-block-content {
        width: 85%;;
    }
    .content-box, .content-box-2 {
        display: inline-block;
        width: 36.979166666666664%;
    }
    .content-box-2 {
        float: right;
    }
    .content-box {
        float: left;
    }
    .right-block-content {
        content: "";
        clear: both;
        display: table;
        margin: 0 auto;
    }
    .line-2 {
        width: 100%;
    }
}
@media (max-width: 768px){
    footer {
        padding: 56px 80px;
    }
    .trend-block:nth-child(3n) {
        display: none;
    }
    .trend-block {
        width: 45%;
    }
    .story-form #id, #enter {
        width: 446px;
    }
    .blog-box:nth-child(3) {
        display: none;
    }
    .blog-box {
        width: 45%;
    }

    
}
@media (max-width: 600px) {
    .trend-container {
        display: block;
    }
    .trend-block {
        width: 100%;
        margin: 40px auto;
    }
    footer {
        display: none;
    }
}
@media (max-width: 500px) {
    .nav-bar-box {
        display: none;
    }
    .menu {
        display: inline-block;
    }
    .menu-lef-list {
        display: block;
        position: absolute;
    }
    .content-box, .content-box-2 {
        display: block;
        float: none;
        width: 79.16666666666667%;
    }
    .right-block {
        height:  478px;
    }
    .story-form #id, #enter {
        width: 327px;
    }
    .story-2-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .story-box {
        width: 100%;
    }
    .story-2-container p {
        width: 100%;
    }
    .column-2 {
        display: block;
    }
    .blog-box {
        width: 100%;
    }
    .left-block {
        height: 388px;
    }
    .right-block {
        height: 478px;
    }
    .blog-box-content {
        position: absolute;
        bottom: 32px;
        left: 24px;
    }
    .section-text {
        margin-top: 10px;
    }
    .date {
        margin-top: 31px;
    }
    .category-name {
        top: 32px;
        left: 24px;
    }
    .blog-box-large {
        height: 300px;
    }
    .blog-box-large img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }





    /*-------------------------*\
        #Story
    \*-------------------------*/

    .story-header {
        display: none;
    }
    .section-header-1 {
        display: none;
    }
    .mob-story-head {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
    }
    .section {
        margin: 0;
    }
    .story-title-text {        
        overflow: hidden;
        height: 50px;
    }
    .line {
        top: 40%;
    }
    .box-1-content {
        width: 80%;
    }
}