/*
*
*   Global.........Globally style
*
*   Header.........Navigation-bar Styles
*
*   Section-1......home page first section style
*
*   Section-2.....home page second section style
*
*   Section-3....... home page third section style
*
*   Footer........footer section stiles
*
*   Story-section-1......Sroty page first section
*
*   Story-section-2.......Sroty page Second section
*
*   Story-section-3.......Sroty page third section
*/





/*-------------------------*\
    #Global
\*-------------------------*/


body {
    background-color: #F6F8F9;
}
.gray-line {
    border-top: 2px solid #EBEDED;
}
.icon-arows {
    display: flex;
    justify-content: space-around;
    width: 55px;
    cursor: pointer;
}
.wrapper-title {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 40px auto;
}
.section {
    max-width: 1098px;
    width: 100%;
    margin: 0 auto;
    margin: 40px auto;
}




/*-------------------------*\
    #Header
\*-------------------------*/

header {
    position: relative;
    height: 50px;
    background-color: #F6F8F9;
    padding: 18px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}
.logo {
    float: left;
    font-size: 13px;
    font-family: Helvetica;
    font-weight: bold;
}
.red-logo {
    color: #FA6980;
}
.white-logo {
    color: #FFFFFF;
}
.menu {
    display: none;
}
.navigation-ul {
    display: flex;
}
.nav-bar {
    display: flex;
    align-items: center;
}
.nav-bar nav {
    margin-right: 40px;
}
.navigation-ul li:nth-child(n+2) {
    margin-left: 22px;
}
.nav-text {
    font-size: 11px;
    font-family: Helvetica-bold;
    color: #343638;
    opacity: 50%;
}
.active {
    opacity: 100%;
}
.nav-img {
    color: #343638;
}
.nav-text span, img {
    margin-right: 30px;
}
.profile-box img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.menu-lef-list {
    display: none;
    width: 76.5%;
    height: 812px;
    background-color: #FFFFFF;
    top: 0;
    left: -100%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    transition: 0.8s;
    padding: 40px;
}
.menu-lef-list {
    overflow: auto;
}
.mobile-nav {
    margin: 87px 0;
}
.mobile-nav ul li:nth-child(n+2) {
    margin-top: 37px;
}
.mobile-nav a {
    align-items: center;
}
.mobile-nav img {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    opacity: 100%;
}
.res-footer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 310px;
    background-color: rgba(0, 0, 0, 0.23);
    left: 0;
    bottom: 0;
}
.res-nav-bar {
    margin: 57px auto 0 auto;
}
.res-nav-bar li:nth-child(n+2) {
    margin-top: 27px;
}
.icons {
    margin-top: 60px;
    margin-left: 40px;
}
.res-footer-bottom {
    display: flex;
}
.res-nav-bar ul:nth-child(2) {
    margin-left: 25px;
}




/*-------------------------*\
    #section-1
\*-------------------------*/

.section-1 {
    display: flex;
}
.left-block {
    background-image: url(/img/1.1.png);
    z-index: -1;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 58.333333333333336%;
    height: 600px;
}
.white-title {
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    color: #FFFFFF;
}
.left-block-content {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
.div-line {
    margin-top: 30px;
    margin-bottom: 40px;
    border-top: 2px solid #FFFFFF;
}
.section-text {
    font-size: 16px;
    font-family: Helvetica;
    color: #FFFFFF;
    margin-top: 5px;
    height: 32px;
    overflow: hidden;
}
.learn-more {
    margin-top: 52px;
    height: 40px;
    width: 134px;
    background-color: #FA6980;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 11px;
    font-family: Helvetica-bold;

}
.right-block {
    background-color: #fff;
    width: 41.666666666666664%;
    height: 600px;
}
.right-block-content {
    margin-top: 100px;
    margin-left: 100px;
    width: 380px;
}
.section-header {
    font-size: 24px;
    font-family: Helvetica-bold;
    color: #202124;
}
.line-2 {
    width: 380px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-top: 2px solid #EBEDED;
}
.blog-category {
    font-size: 16px;
    font-family: Helvetica-bold;
    color: #FA6980;
    margin-bottom: 15px;
}
.blog-title {
    font-size: 16px;
    font-family: Helvetica-bold;
    color: #202124;
    margin-bottom: 10px;
}
.blog-text {
    font-size: 16px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #A6ADB4;
    margin-bottom: 5px;
}
.date-time {
    font-size: 13px;
    font-family: Helvetica-oblique;
    color: #A6ADB4;
    margin-left: 10px;
}
.content-box {
    margin-bottom: 40px;
}
.section-1-txt {
        height: 28px;
    overflow: hidden;
    line-height: 25px;
}




/*-------------------------*\
    #Section-2
\*-------------------------*/

.trend-container {
    display: flex;
    margin: 40px auto;
    justify-content: space-between;
    width: 85%;
}
.trend-block {
    background-color: #FFFFFF;
    height: 350px;
    width: 30%;
    border-radius: 6px;
    bottom: 0;
}
.trend-block img {
    object-fit: cover;
    width: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 11px;
}
.trend-box {
    margin: 40px;
}
.post-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}
.blog-text {
    overflow: hidden;
    height: 52px;
    line-height: 26px;
}





/*-------------------------*\
    #Section-3
\*-------------------------*/

.blog-container::after {
    content: "";
    clear: both;
    display: table;
}
.blog-box-large {
    position: relative;
}
.blog-box-large:nth-child(1) {
    margin-bottom: 40px;
}
.blog-box-content {
    position: absolute;
    top: 40px;
    left: 40px;
}
.category-name{
    font-size: 16px;
    font-family: Helvetica-bold;
    color: #FFFFFF;
    margin-bottom: 229px;
}
.blog-title-large {
    margin-bottom: 5px;
}
.date {
    margin-top: 31px;
}
.blog-title-margin {
    margin: 16px 0 10px 0;
}
.blog-box:nth-child(n+2) {
    margin-top: 40px;
}
.column-1 {
    width: 760px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/*-------------------------*\
    #Footer
\*-------------------------*/

footer, .icon-list, .footer-nav, .footer-form {
    display: flex;
  }
  
  footer {
    background-color: #A6ADB4;
    justify-content: space-between;
    padding: 60px 140px;
    flex-wrap: wrap;
    margin-top: 80px;
  }
  .footer-form {
    flex-direction: column;
    position: relative;
  }
  .send-pos {
    position: absolute;
    top: 16px;
    right: 19px;
    font-size: 16px;
  }
  .footer-form input {
    padding: 14px 20px;
    color: #CBD0D3;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0);
  }
  .footer-form label {
    margin-top: 16px;
    font-size: 11px;
    font-family: Helvetica;
    color: #CBD0D3;
  }
  input::placeholder {
    color: #CBD0D3;
  }
  .icon-list li:nth-child(n+2) {
    margin-left: 32px;
  }
  .main-footer-nav ul:nth-child(n+2) {
    margin-left: 40px;
  }
  .footer-nav ul li {
    font-size: 13px;
    font-family: Helvetica-bold;
    color: #CBD0D3;
    line-height: 20px;
  }
  .footer-s-1 {
    display: flex;
  }
  .main-footer-nav {
    margin-left: 59px;
  }
  .icons {
      display: flex;
      justify-content: space-between;
      width: 136px;
  }




/*-------------------------*\
    #Story-section-1
\*-------------------------*/

.section-header-1 {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
.section-title {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}
.story-title {
    font-size: 32px;
    font-family: Helvetica-bold;
    color: #FFFFFF;
}
.story-title-text {
    font-size: 16px;
    font-family: Helvetica-bold;
    color: #FFFFFF;
}
.box-1 {
    background-image: url(/img/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 500px;
    width: 50%;
}
.box-2 {
    background-color: #FFFFFF;
    width: 50%;
    height: 500px;
    position: relative;
}
.box-2 form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    height: 248px;
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translate(-50%, -50%);
}
.box-2 form select {
    border-radius: 6px;
    border: 2px solid #EBEDED;
    width: 360px;
    height: 40px;
    outline: none;
    padding-left: 20px;
    text-transform: capitalize;
    color: #A6ADB4;
}
.box-2 form label {
    font-size: 13px;
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #202124;
}
#enter {
    border-radius: 6px;
    border: 2px solid #EBEDED;
    width: 360px;
    height: 40px;
    outline: none;
}
#send {
    background-color: #FA6980;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    text-transform: uppercase;
    width: 134px;
    height: 40px;
    border: none;
    outline: none;
    font-family: "Helvetica-bold";
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.black-text {
      color: #202124;
      white-space: pre-line;
  }
.light-black-text {
    color: #A6ADB4;
    white-space: pre-line;
}
.section-title {
    font-size: 11px;
    font-family: Helvetica-bold;
}
.box-1-content {
    width: 50%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    color: white;
}
.border-shadow {
    border-bottom: 2px solid #EBEDED;
    border-top: 2px solid #EBEDED;
}

/*-------------------------*\
    #Story-section-2
\*-------------------------*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.story-box {
    margin-top: 40px;
    width: 31%;
}

/*-------------------------*\
    #Story-section-3
\*-------------------------*/

.story-3 {
    padding: 0 140px;
    margin: 40px auto 40px auto;
}
.story-text {
    margin-top: 40px;
    font-size: 14px;
    font-family: Helvetica;
    color: #A6ADB4;
    white-space: pre-line;
    width: 60%;
    line-height: 26px;
}
.story-big-img {
}
.story-big-img img {
    width: 100%;
}

